<li class="list-group-item clearfix">

 <% 
 chars = ('A'..'z').to_a
 randomstring =  chars[rand(chars.length)] + SecureRandom.urlsafe_base64(4)
 fake_obfuscated_path = "#{conversation_path(conversation) + randomstring}" %>

  <%= link_to conversation.subject, fake_obfuscated_path %>

  <p><%= render 'conversations/participants', conversation: conversation %></p>
 
</li>