<h1>Editing Post</h1>

<%= render 'form' %>

<%= link_to 'Back', dash_path %>

 <script>
$('.datepicker').datepicker()
.on('changeDate', function(ev){
 $('.datepicker').datepicker('hide');
 });
 </script>