<h1 class="text-center">Frequently Asked Questions</h1>

<h3>What is this all about?<h3>
<p>Bringing together individuals with flexible work space needs, thereby creating a network of temporary and amazing workplaces in each other's homes. Hoffiz is a web platform inspired by the Hoffice movement in Europe. Let's do some great work and meet some great people!</p>

<h4>More resources to come! Send feedback to: hello@hoffiz.com ;)</h4>

