<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      You have received a new reply:
    </p>
    <blockquote>
      <p>
        <%= raw @message.body %>
      </p>
    </blockquote>
    <p>
      Login at <%= link_to root_url, root_url %> and go to the dashboard page to reply.
    </p>
    <p>
    - The Hoffiz Message Bot
    </p>
  </body>
</html>
