// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  position: relative;
  min-height: 100%;
}
body {
	border-top: 5px solid #4DAF7C;
	margin-bottom: 60px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Dosis', sans-serif;
}

p, label, a, input {
	font-family: 'Open Sans', sans-serif;
}

.field {
	padding: 5px 0;
}

.nv-hoffiz {
	background-color: #FFF;
	border-radius: 0;	
}

.navbar-brand {
	font-family: 'Ruda', sans-serif;
	font-weight: 900;
	font-size: 20px;
	padding: 15px 5px;padding: 15px 5px;
}

.nv-hoffiz .navbar-nav>li>a {
	font-size: 15px;
	letter-spacing: 1px;
}

.thumbnail-list {
	list-style: none;
}

.space-feats {
	display: block;
	padding: 5px 10px;
	background: #4DAF7C;
	color: #fff;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	width:100%;
}

.more-listings {
	margin: 0 auto;
	display: block;
	width: 150px;
}

.btn-success {
	background-color: #4DAF7C;

	&:hover, &:active, &:focus {
		background-color: #449C6F;
	}
}

.features {
	margin: 40px 0;
}

.img-100 {
	width:100%;
}

.avi-overlay {
	position:absolute;
	top:0;
}

.details-item {
	border-top: 1px #999 solid;
	padding: 5px;
}

.fa-twitter {
	color: #55acee;
}

.fa-facebook {
	color: #3b5998;
}


.fa-linkedin {
	color: #0976b4;
}

#footer {
	background: #95A5A6;
	color: #000;
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 40px;
	padding: 10px;

	a {
		color: #fff;
	}
}

.alert-notice {
  @extend .alert-success;
}
 
.alert-alert {
  @extend .alert-warning;
}

.login-or {
    position: relative;
    font-size: 18px;
    color: #aaa;
    margin-top: 10px;
            margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
  }
  .hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }


/*conversations */

.messages {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}

.alert ul li {
  list-style:none;
}

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }